

server{
 charset utf-8;
 listen 80;
 server_name localhost;
 location /static {
    alias /home/zhou/python/Pythonblog/static;
    # where your static path
 }
 location / {
 proxy_set_header Host $host;
 proxy_pass http://unix:/tmp/127.0.0.1.socket;
 #//unix:/tmp/*.socket  * set your gunicorn start cmd --bind
 #maybe it is server name
 # like me it is gunicorn --bind unix:/tmp/127.0.0.1.socket pythonblog.wsgi:application
 }
}