<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" 
			content="width=device-width, initial-scale=1.0,
			user-scalable=no"/>
		<title>寒夏</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>  
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    
	<body>
		<div id="header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 logo-div">
                        <div class="logo-inner text-center">
                            <div class="logo-name">
                                <a href="#">
                                    <img src="img/me.jpg" class="img-circle" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 header-text-top " id="about">
                        <h1>寒夏凉秋</h1>
                        <i>Coldsummer</i>
                        <br />
                        <i>一只呆呆的程序猿</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    Send email to me at <a href="mailto:coldsummerday1211@gmail.com">coldsummerday1211@gmail.com</a></li>
                </div>
                <div class="col-md-2">
                    <div class="social-link">
                        <a href="#" class="btn btn-default btn-xs"><i class="fa fa-github fa-2x"></i></a>
                        <a href="#" class="btn btn-default btn-xs"><i class="fa fa-weibo fa-2x"></i></a>
                        <a href="#" class="btn btn-default btn-xs"><i class="fa fa-qq fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</body>


</html>
	